body{
  margin: 0;
  padding: 0;
  font-family: Gotham;
  background-image: url(img/bg.png);
  background-size: 1366px 650px;
  background-attachment: fixed;
}

hr {
  height: 1px;
  width: 100%;
  color: #245770 ;
}

.header{
  height: 50px;
  padding: 14px 16px;
  width: auto;
  margin: 50px 20px 20px 20px;
}

.logo img{
  float: left;
  width: 18%;
  margin-bottom: -30px;
}

.menu{
  float: right;
  line-height: 50px;
}

.menu a{
  color: #245770;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  
}

.dropdown {
  float: right;
  overflow: hidden;
  font-family: Gotham;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #245770;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-image: url(img/hover.png);
  background-size: 100px;
  background-repeat: no-repeat;*/
  color: #5A92AF;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #245770;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.konten{
  padding: 14px 16px;
  width: auto;
  margin: 0px 20px 20px 20px;
}

.konten h1{
  color: #245770;
  font-size: 40px;
}

.konten img{
  width: 30%;
}

.btnindex .btn img{
  width: 100%;
}

.artikel {
  width: 70%;
  height: 100%;
} 

.artikel img{
  width: 100%;
}

.gambar img{
  width: 100%;
}

.materi{
  background-image: url(../img/ubaha.png);
  right: 0;
  display: block;
}

.materi tr th a{
  text-decoration: none;
  color: #245770;
}

.th img{
  width: 150px;
}

.container p a {
  color: #245770;
  text-decoration: none;
  font-family: Gotham;
}

.container {
  padding: 25px;
  width: 30%;
  margin: 0 auto;
  font-family: Gotham;
  border-radius: 10px;
}

input.register, input.login{
  border-radius: 20px;
  padding: 5px;
  color: #245770;
  border: 3px solid #245770;
  margin: 0 auto;
  height: 25px;
  width: 100%;
  font-family: Gotham;
  margin-bottom: 20px;
}

input.edit{
  border-radius: 20px;
  padding: 5px;
  color: #245770;
  border: 3px solid #245770;
  margin: 0 auto;
  height: 25px;
  width: 300px;
  font-family: Gotham;
  margin-bottom: 5px;
}

.container h1 {
  font-family: Gotham;
  margin-top: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: #245770;
}

input.btnlgn{
  width:100%;
  height:50px;
  border:none;
  background-color:transparent;
  background-image:url(img/btnlgn.png);
  background-position:center center;
  background-size: 70px;
  cursor:pointer;
  background-repeat: no-repeat;
}

.container p{
  text-align: center;
  
}

.container hr{
  height: 2px;
  width: 50%;
  color: #245770 ;
  margin-bottom: 20px;
}

input.btnreg{
  width:100%;
  height:50px;
  border:none;
  background-color:transparent;
  background-image:url(img/btnreg.png);
  background-position:center center;
  background-size: 100px;
  cursor:pointer;
  background-repeat: no-repeat;
}

/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 30%; /* Set the width of the sidebar */
  position: absolute; 
  overflow: auto;
  top: 10; /* Stay at the top */
  right: 35px;
  /*background-color: #111; /* Black */*/
  /*overflow-x: hidden;  Disable horizontal scroll */
  padding-top: 20px; 
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: justify;
  /*display: block;*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: grey;
}

.sidenav1{
  float: left;
  padding: 14px 16px;
  width: auto;
  margin: -30px 20px 20px 20px;
}

.sidenav1 a{
  text-decoration: none;
  color: #245770;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.pp img {
  width: 80%;
  margin: 0px 20px 20px 40px;
}

.formedit {
  margin-left: 20px;
}


.formtambah {
  margin: 50px 650px 20px 500px;
}

.formtambah textarea{
  border-radius: 20px;
  padding: 5px;
  color: #245770;
  border: 3px solid #245770;
  font-family: Gotham;
  margin-bottom: 20px;
}

.btn-create {
  width: 100%;
  height: 100%;
  color: #245770;
  font-family: gotham;
}



.konten1{
  padding: 14px 16px;
  width: auto;
  margin: -40px 20px 20px 20px;
  color: #245770;
  float: left;
}

.kursus{
  border-collapse: collapse;
  width: 200%;
}

.kursus th {
  background-color: #5A92AF;
  text-align: center;
  color: white;
  border: 2px solid #245770;
  padding: 8px;
}


.kursus td{
  border: 2px solid #245770;
  text-align: left;
  padding: 8px;
}

input .krs{
  height: 100px;
}

.kontenbr{
  float: left;
}

.materi{
  padding: 14px 50px;
  width: auto;
  margin: 0px 20px 20px 150px;
}

.ubaha img{
  width: 8%;
  margin-top: 20px;
  margin-bottom: -20px;
}

.tambah img{
  width: 10%;
  margin-top: -30px;
}


.tabmateri img{
  width: 100px;
  margin : 10px 50px 0px 200px;
  padding: 10px 0px 0px 0px;
}

.active{
  background-color:#e8eded;
  color:#fff;

}

/* The sidebar menu */
.sidenavMateri{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #41577a; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 35px;
  border-radius: 20px;
}

/* The navigation menu links */
.sidenavMateri a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavMateri a:hover {
  color: #f1f1f1;
}

/* Style page content */
/*.main {
  margin-left: 160px;  Same as the width of the sidebar 
  padding: 0px 10px;
  }*/

  @media screen and (max-width:720px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
    }

    .logo img{
      width: 50%;
      margin-bottom: 30px;
    }

    .menu{
      position: fixed;
      width: 100%;
      background: white;
      right: -100%;
      top: 0;
      text-align: right;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding: 20px;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }

    .konten img{
      width: 100%;
    }

    .gambar img{
      width: 100%;
    }


    .gambar tr th{
      width: 100%;
      display: block;
    }

    .materi tr th{
      width: 100%;
      margin-bottom: 20px;
      display: block;
    }

    .artikel tr th{
      width: 100%;
      display: block;
      margin-left: 70px;
    }

    .container h1 {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 50px;
      color: #245770;
    }


    input.register, input.login{
      border-radius: 20px;
      padding: 5px;
      color: #245770;
      border: 3px solid #245770;
      margin: 0 auto;
      height: 25px;
      width: 150%;
      font-family: Gotham;
      margin-bottom: 20px;
      align-content: center;
      margin-left: -40px;
    }

    .konten p{
      text-align: justify;
    }
    .sidenav {
      padding-top: 15px;
      width: 80%;
      position: static;
      margin:20px 0px 20px 35px;
    }
    .sidenav a {
      font-size: 18px;
    }

    .pp img {
      width: 50%;
      margin: 20px 20px 20px 120px;
    }

    .formedit{
      margin: 20px 20px 20px 80px;
    }

    .ppp tr td{
      width: 100%;
      display: block;
    }

    iframe{
      width: 140%;
    }

    .ubaha img{
      width: 30%;
    }

    .formtambah{
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      color: #245770;
    }

    .tambah img{
      width: 20%;
      margin-top: -30px;
    }

    .kursus{
      width: 100%;
    }

/*.container h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    color: #245770;
  }


  input.register, input.login{
    border-radius: 20px;
    padding: 5px;
    color: #245770;
    border: 3px solid #245770;
    margin: 0 auto;
    height: 25px;
    width: 150%;
    font-family: Gotham;
    margin-bottom: 20px;
    align-content: center;
    margin-left: -40px;
    }*/

  }

  input.search{
    padding: 6px;
    border-color: #245770;
    border-radius: 20px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    font-family: Gotham;
    background-image: url(img/sc.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right ;
  }


  .step{
    padding: 14px 16px;
    width: auto;
    margin-top: 30px;
    margin-left: 20px;
  }

  .step a{
    color: #245770;
    text-decoration: none;
  }


 body {
  background-color: #efefef;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
    margin-left: 200px;
}
.circle {
    margin-left: 80px;
    margin-right: 70px;
    border-radius: 1000px !important;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: 8px solid #245770;
    top: 72px;
    background-image: url(img/profil.png);
    background-position: center;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  margin: 0px 20px 0px 400px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}